@import url('https://fonts.cdnfonts.com/css/lalezar');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');

ion-icon {
    font-size: 24px;
    color: white;
    /* margin-top: 3px; */
    margin-right: 5px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.Lalezar {
    font-family: 'Lalezar', sans-serif;
}

.mySoul {
    font-family: 'My Soul', cursive;
}


.hidden {
    display: none;

}

.container {
    display: flex;
    justify-content: center;


}

.container2 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}




.backgroundoverlay::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;


    background: url(Images/low-angle-shot-mesmerizing-starry-sky.jpg);
    background-size: cover;
    background-position: top center;

    opacity: 25%;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #0A0811 0%, #1E183A 48.96%, #231C4B 100%);



}

p {
    position: relative;
    color: white;
}

.get_started {
    align-items: center;
    position: relative;
    color: white;
    border: none;
    font-size: 30px;
    width: 280px;
    height: 100px;
    background: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    /* button shine */

    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(255, 255, 255, 0.72), inset 0px 14px 14px rgba(255, 255, 255, 0.58);
    border-radius: 50px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

}

.footerContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.myFooter {


    width: 274px;
    height: 66px;

    font-size: 15px;
    background: linear-gradient(180deg, rgba(10, 2, 34, 0.8) 0%, rgba(12, 8, 21, 0) 100%);
    box-shadow: inset 0px 3px 6px rgba(255, 255, 255, 0.25), inset 0px 12px 8px rgba(255, 255, 255, 0.25), inset 0px 8px 8px rgba(255, 255, 255, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px 20px 0px 0px;
}

.PBNA {
    margin-top: 60px;
}

.footerName {
    margin-top: 19px;

}

.mail {
    font-size: 12px;
    margin-top: 4px;

}

.github {
    font-size: 12px;
    margin-top: 4px;

}



.container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container5 {
    display: flex;
    flex-direction: column;
}

.search {
    margin-top: 20px;
    width: 374px;
    height: 54px;
    left: 20px;
    top: 136px;

    background: rgba(137, 19, 255, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;

    border-style: none;
    
}

.filter {
    margin-top: 13px;
    /* position: relative; */
    box-sizing: border-box;

    border: double 5px transparent;
    /* background-image: linear-gradient(#8913FF 8%, #8913FF 8%),
    linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);;
    background-origin: border-box;
    background-clip: content-box, border-box; */

    border-image-source: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    border-image-slice: 1;
    
    background-color: rgba(50, 50, 50, 0.5);

    width: 124px;
    height: 45px;
    left: 20px;
    top: 203px;
    


    /* background: rgba(137, 19, 255, 0.08); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.filter::before {
    content: "";
    position: absolute;
}

.logo {
    margin-top: 50px;
    /* flex-direction: row; */
    width: 201px;
    height: 66px;
    left: 107px;
    top: 50px;

    font-family: 'My Soul';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 66px;

    color: #201B3D;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.filterOpen {

    width: 374px;
    height: 45px;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    border: transparent;
    border-radius: 20px 20px 0px 0px;
    box-shadow: none;
}

.filterContent {
    margin-top: 13px;
    width: 374px;
    height: 308px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    border-image-source: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    border-image-slice: 1;
    
    background-color: rgba(50, 50, 50, 0.5);
    border: double 5px transparent;
}