@import url('https://fonts.cdnfonts.com/css/lalezar');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');

ion-icon {
    font-size: 24px;
    color: white;
    /* margin-top: 3px; */
    margin-right: 5px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.Lalezar {
    font-family: 'Lalezar', sans-serif;
}

.mySoul {
    font-family: 'My Soul', cursive;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.mulish {
    font-family: 'Mulish';
    
}

.hidden {
    display: none;

}

.container {
    
    display: flex;
    justify-content: center;


}

.container2 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}




/* .backgroundoverlay::before {
    z-index: 1;
    
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;


    

    opacity: 75%;
} */

body {
    
    
    height: 100%;
    width: 100%;
    /* background:  */
    
    background-image: url(Images/Group\ 2.jpg);
    /* background:  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-blend-mode: screen; */
    
    background-size: cover;
    background-position: top center;



}

p {
    position: relative;
    color: white;
}

.get_started {
    align-items: center;
    position: relative;
    color: white;
    border: none;
    font-size: 30px;
    width: 280px;
    height: 100px;
    background: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    /* button shine */

    box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 6px rgba(255, 255, 255, 0.72), inset 0px 14px 14px rgba(255, 255, 255, 0.58);
    border-radius: 50px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

}

.footerContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.myFooter {


    width: 274px;
    height: 66px;

    font-size: 15px;
    background: linear-gradient(180deg, rgba(10, 2, 34, 0.8) 0%, rgba(12, 8, 21, 0) 100%);
    box-shadow: inset 0px 3px 6px rgba(255, 255, 255, 0.25), inset 0px 12px 8px rgba(255, 255, 255, 0.25), inset 0px 8px 8px rgba(255, 255, 255, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px 20px 0px 0px;
}

.PBNA {
    margin-top: 60px;
}

.footerName {
    margin-top: 19px;

}

.mail {
    font-size: 12px;
    margin-top: 4px;

}

.github {
    font-size: 12px;
    margin-top: 4px;

}



.container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.container4 {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.search {
    margin-bottom: 13px;
    position: relative;
    margin-top: 20px;
    width: 374px;
    height: 54px;


    background: rgba(137, 19, 255, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;

    border-style: none;

    padding: 1px;
    border: double 1px transparent;
    
    background-image: linear-gradient(#0f081c, #0f081c),
    linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);

    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 20px;
    

}

.filter {
    /* margin-top: 13px; */
    position: relative;
    box-sizing: border-box;

    border: none;
    /* background-image: linear-gradient(#8913FF 8%, #8913FF 8%),
    linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);;
    background-origin: border-box;
    background-clip: content-box, border-box; */

    /* border-image-source: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%); */
    /* border-image-slice: 1; */

    background: rgba(137, 19, 255, 0.08);

    padding: 20px 40px;
    color: white;

    /* width: 124px;
    height: 45px;
    left: 20px;
    top: 203px; */



    /* background: rgba(137, 19, 255, 0.08); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;



}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.filter::before {
    content: "";
    position: absolute;
}

.logo {
    margin-top: 50px;
    
    width: 325px;
    height: 96px;
    
    padding: 20px;
    font-family: 'My Soul';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 66px;

    color: #201B3D;
    background: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.05em transparent;

    text-shadow: 0px 4px 4px rgba(137, 19, 255, 0.08);
}


.filterOpen {

    width: 374px;
    height: 45px;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
    border: transparent;
    
    box-shadow: none;
}

.filterContent {
    position: relative;
    /* margin-top: 13px; */
    width: 374px;
    height: 308px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* border-image-source: linear-gradient(85.28deg, #80B5F3 0%, #7F74FF 19.79%, #A037E0 41.67%, #C55EC9 56.77%, #FF9DA3 76.04%, #FFC794 89.58%, #FFE7C2 100%); */
    /* border-image-slice: 1; */

    background-color: rgba(137, 19, 255, 0.08);
    /* border: double 5px transparent; */
}

.content {
    display: flex;
    justify-content: center;
    z-index: 3;
    position: relative;
}

.filterOpen::before {
    content: none;
}

.year_start {
    position: relative;
}

.year_end {
    position: relative;
}

.contentBox {
    margin-top: 13px;
}

.contentCard2 {

    position: relative;
    /* display: flex; */
    background: linear-gradient(180deg, #0A0811 0%, #1E183A 48.96%, #231C4B 100%);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 414px;
    height: 539px;

}

.contentCard2 img {
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 0, 0.08);
    width: 374px;
    aspect-ratio: 1.77;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;

}

.contentCard1 {

    position: relative;
    /* display: flex; */
    background: linear-gradient(180deg, #26213C 0%, #574F93 100%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 414px;
    height: 539px;

}

.contentCard1 img {
    box-shadow: 0px 4px 15px 8px rgba(0, 0, 0, 0.08);
    width: 374px;
    aspect-ratio: 1.77;
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;

}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}

.description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    /* or 14px */

    letter-spacing: 0.02em;
    margin-top: 8px;
}

.date {
    position: absolute;
    margin-top: 3px;
    margin-left: 240px;

    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
}

.photographer {
    margin-top: 20px;
    margin-left: 250px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

.cardText {
    margin: 0px 28px;
}

.nasaTitleContainer {
    display: flex;
    justify-content: center;
}

.inputContainer {
    display: flex;
    justify-content: center;

}

.filterContainer {
    width: 374px;
}

.containerForFilterContainer {
    display: flex;
    justify-content: center;
}

.containerForContent {
    display: flex;
    justify-content: center;
}

